/* src/components/BookCard.css */
.book-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

.book-card p {
  font-size: 14px;
  color: #555;
}

.book-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  align-self: flex-end;
}

.book-card button:hover {
  background-color: #0056b3;
}
